.App {
  text-align: center;
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  min-height: 100vh; /* Ensure it takes at least 100% of the viewport height */
  color: antiquewhite;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-bottom: 50px; /* Add padding to ensure content isn't cut off */
}

@media (max-width: 412px) {
  .App {
    min-height: 100vh; /* Minimum height should still cover the viewport */
    height: auto; /* Let the content decide the height in mobile view */
    padding-bottom: 60px; /* Add extra space for mobile view */
  }
}
